
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
/.idea
space_invaders/PPlay/window.pyc
/space_invaders/PPlay/__pycache__
space_invaders/PPlay/__init__.pyc
space_invaders/PPlay/__init__.py
/.idea
/.idea
.idea/vcs.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
space_invaders/__pycache__/game.cpython-312.pyc
space_invaders/__pycache__/monsters.cpython-312.pyc
space_invaders/__pycache__/ranking.cpython-312.pyc
